[submodule "deps/xquery-mode"]
	path = deps/xquery-mode
	url = https://github.com/xquery-mode/xquery-mode.git
[submodule "deps/page-break-lines"]
	path = deps/page-break-lines
	url = https://github.com/purcell/page-break-lines.git
[submodule "deps/Oook"]
	path = deps/Oook
	url = https://github.com/xquery-mode/Oook.git
